<a href="https://colab.research.google.com/github/LivingDeadCloud/FreeCodeCamp/blob/main/pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

1.1.5

Series creation

In [4]:
# Create an empty pandas Series
pd.Series(dtype=np.float)

Series([], dtype: float64)

In [15]:
# Given the X python list convert it to an Y pandas Series
X = np.arange(10)
Y = pd.Series(data=X)
print(Y, type(Y))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64 <class 'pandas.core.series.Series'>

In [16]:
# Given the X pandas Series, name it 'My letters'
print(Y.name)
Y.name = 'My letters'
print(Y.name)

None
My letters

In [19]:
# Given the X pandas Series, show its values
Y.values

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Series indexation

In [25]:
# Assign index names to the given X pandas Series
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

In [38]:
# Given the X pandas Series, show its first element
X = pd.Series(['A','B','C', 'D', 'E'])
index_names = ['first', 'second', 'third', 'fourth', 'fifth']
X.index = index_names

# by position
print(f'First element by position: {X[0]}')

# by index
print(f"First element by index: {X['first']}")

First element by position: A
First element by index: A

In [39]:
# Given the X pandas Series, show its last element
# by position
print(f'Last element by position: {X[-1]}')

# by index
print(f"Last element by index: {X['fifth']}") # Change accordingly to name

Last element by position: E
Last element by index: E

In [44]:
# Given the X pandas Series, show all middle elements
# by position
print(f'Middle elements by position: \n{X[1:-1]}')

Middle elements by position:
second    B
third     C
fourth    D
dtype: object

In [46]:
# Given the X pandas Series, show the elements in reverse position
# by position
print(f'All elements in reverse position: \n{X[::-1]}')

Middle elements by position:
fifth     E
fourth    D
third     C
second    B
first     A
dtype: object

In [60]:
# Given the X pandas Series, show the first and last elements
# by position
print(f'First and last element: \n{X[[0,-1]]}')

First and last element:
first    A
fifth    E
dtype: object

Serie manipulation

In [68]:
# Convert the given integer pandas Series to float
x = np.array([1, 2, 3, 4, 5], dtype=np.int)
X = pd.Series(x)
print(X, type(X))

Y = X.astype(np.float)
print(Y, type(Y))

0    1
1    2
2    3
3    4
4    5
dtype: int64 <class 'pandas.core.series.Series'>
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64 <class 'pandas.core.series.Series'>

In [69]:
# Reverse the given pandas Series (first element becomes last)
Y = X[::-1]
print(Y)

4    5
3    4
2    3
1    2
0    1
dtype: int64

In [76]:
# Order (sort) the given pandas Series
X = pd.Series([4,2,5,1,3], index=['forth','second','fifth','first','third'])
X.sort_values(inplace=True)
print(X)

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

In [78]:
# Given the X pandas Series, set the fifth element equal to 10
X = pd.Series([1,2,3,4,5], index=['A','B','C','D','E'])
X[4] = 10
print(X)

A     1
B     2
C     3
D     4
E    10
dtype: int64

In [79]:
# Given the X pandas Series, change all the middle elements to 0
X = pd.Series([1,2,3,4,5], index=['A','B','C','D','E'])
X[1:-1] = 0
print(X)

A    1
B    0
C    0
D    0
E    5
dtype: int64

In [80]:
# Given the X pandas Series, add 5 to every element
X = pd.Series([1,2,3,4,5])
X = X+5
print(X)

0     6
1     7
2     8
3     9
4    10
dtype: int64

Series boolean arrays (also called masks)

In [81]:
# Given the X pandas Series, make a mask showing negative elements
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = [X<0]
print(mask)

[0     True
1    False
2    False
3     True
4    False
5    False
6    False
7    False
8     True
9    False
dtype: bool]

In [82]:
# Given the X pandas Series, get the negative elements
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X = X[X<0]
print(X)

0   -1
3   -4
8   -9
dtype: int64

In [83]:
# Given the X pandas Series, get numbers higher than 5
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X = X[X>5]
print(X)

5     6
9    10
dtype: int64

In [84]:
# Given the X pandas Series, get numbers higher than the elements mean
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X = X[X>X.mean()]
print(X)

1     2
4     5
5     6
9    10
dtype: int64

In [100]:
# Given the X pandas Series, get numbers equal to 2 or 10
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
mask = (X==2) | (X==10)
X = X[mask]
print(X)

1     2
9    10
dtype: int64

Logic functions

In [103]:
# Given the X pandas Series, return True if none of its elements is zero
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.all()

False

In [104]:
# Given the X pandas Series, return True if any of its elements is zero
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.any()

True

Summary statistics

In [105]:
# Given the X pandas Series, show the sum of its elements
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.sum()

9

In [106]:
# Given the X pandas Series, show the mean value of its elements
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.mean()

0.9

In [107]:
# Given the X pandas Series, show the max value of its elements
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])
X.max()

10